In [ ]:
Кейс 3. Вычисляемые поля. Арифметические функции. Работа со временем, строками и json-ами в полях

ЗАДАНИЕ:
    
При помощи запросов к БД:
1. Посчитать количество аккаунтов в таблице accounts.
2. Посчитать сумму проданных предметов с названием «‎Премиум статус», 
по полю itemcount в таблице shop_log в период с 10.08.2018 по 20.08.2018 включительно.
3. Узнать среднее, максимальное и минимальное значения по полю itemcount в таблице shop_log за 2018.08.21. 
Среднее значение округлить до целого и преобразовать в тип INT.

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\4dani\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
HOST = '37.139.42.145'
DBNAME = 'game-analytics'
USER = 'analytics'
PASSWORD = 'BRtTaqYiJyr29WXN'

from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{USER}:{PASSWORD}@{HOST}/{DBNAME}')

In [3]:
import pandas as pd
import matplotlib

df = pd.read_sql(f'''
SELECT count(*) 
FROM gu_game_analytics_1188.accounts 
''', con=engine)
df

   count
0  33685

In [4]:
import pandas as pd
import matplotlib

df = pd.read_sql(f'''
SELECT sum(itemcount) 
FROM gu_game_analytics_1188.shop_log
WHERE 1=1
    AND itemname = 'Премиум статус'
    AND time BETWEEN '2018-08-10 00:00:00' AND '2018-08-20 23:59:59'
''', con=engine)
df

     sum
0  616.0

In [5]:
import pandas as pd
import matplotlib

df = pd.read_sql(f'''
SELECT 
    cast(floor(avg(itemcount)) as INT),
    max(itemcount),
    min(itemcount)
FROM gu_game_analytics_1188.shop_log
WHERE time BETWEEN '2018-08-21 00:00:00' AND '2018-08-21 23:59:59'
''', con=engine)
df

   floor  max  min
0      1    5    1